body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ================================= CSS For Sidebar ===========================*/
.sidebar {
  height: inherit !important;
}

@media only screen and (max-width: 576px) {
  .sidebar {
    height: 65px !important;
  }
}
/* ======================== CSS For TweetCard component ===========================*/
.card {
  border-radius: 0 !important;
}
